<!DOCTYPE html>
html(lang="es")
	head
		//- SET DE CARACTERES
		meta(charset="UTF-8")
		//- VIEWPORT - RESPONSIVE DESIGN
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- COMPATIBILIDAD CON MICROSOFT EDGE
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//- NOMBRE DE LA APLICACIÓN (APP)
		meta(name="application-name" content="")
		//- NOMBRE DEL AUTOR
		meta(name="author" content="Gonzalo Fleming")
		//- DESCRIPCIÓN DEL SITIO PARA SEO
		meta(name="description" content="")
		//- PALABRAS CLAVE DEL SITIO PARA SEO
		meta(name="keywords" content="")
		//- Bootstrap Cargado desde SASS
		//- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		//- FAVICON
		link(rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon")
		//- FONTAWESOME 5
		script(src="https://kit.fontawesome.com/ac845de1ae.js" crossorigin="anonymous")
		//- ESTILOS CSS
		link(rel="stylesheet" href="assets/css/style.css")
		//- TÍTULO DE LA PÁGINA
		title Documento
	
	body
      nav

		header

		main
		
		aside

		footer

		//- JQUERY 3.4.1 - MINIFICADO
		script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
		//- POPPER-JS de BOOTSTRAP
		script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
		//- JS de BOOTSTRAP 4.4.1
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
		//- JS del PROYECTO
		script(src="assets/js/script.js")